body {
  background-color: rgb(34, 34, 34);
}

p {
  color: rgb(223, 223, 223);
}

#hero-div {
  margin-top: 1.2em;
  margin-bottom: 5rem;
}

#btn-col,
#hero-desc {
  text-align: center;
}

html {
  font-size: 1rem;
}

#buy-link-out {
  font-size: 1.3em;
}

.card-text {
  color: rgb(34, 34, 34);
}
